<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="positiva-background-gps" version="0.1.0">
    <name>Background GPS</name>
    <description>Positiva Background GPS</description>
    <license>Apache 2.0</license>
    <keywords>cordova,background,gps</keywords>
    <js-module src="www/background-gps.js" name="BackgroundGPS">
        <clobbers target="cordova.plugins.backgroundGPS" />
    </js-module>
	<platform name="android">
		<source-file src="src/android/si/positiva/plugins/background_gps/BackgroundGPS.java" target-dir="src/si/positiva/plugins/background_gps"/>
		<source-file src="src/android/si/positiva/plugins/background_gps/BackgroundService.java" target-dir="src/si/positiva/plugins/background_gps"/>
		<config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundGPS">
                <param name="android-package" value="si.positiva.plugins.background_gps.BackgroundGPS"/>
            </feature>
			<feature name="BackgroundService">
                <param name="android-package" value="si.positiva.plugins.background_gps.BackgroundService"/>
            </feature>
        </config-file>
		<config-file target="res/xml/config.xml" parent="/*">
            <preference name="KeepRunning" value="true" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="si.positiva.plugins.background_gps.BackgroundService" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.INTERNET" />
        </config-file>
		<framework src="com.google.android.gms:play-services-location:16.0.0" />
		<framework src="custom.gradle" custom="true" type="gradleReference" />
	</platform>
</plugin>